.btnNo {
    font-family: "Zen Maru Gothic", serif;
    background-color: #60a2ff;
    color: #333;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0 #0051ff;
}
  
.btnNo::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #0f61ba;
    transition: 0.3s;
    left: 0;
}

.btnNo:hover {
    color: #333;
    background-color: #0037ff;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}
