.syusshi {
    font-family: "Zen Maru Gothic", serif;
    background-color: #0f61ba;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0 #043c78;
}
  

.syusshi::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #ff8c00;
    transition: 0.3s;
    left: 0;
}

.syusshi:hover {
    color: #fff;
    background-color: #043c78;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}
